.container {
  display: grid;
  grid-template-columns: 48vw 48vw;
  /* grid-template-rows: auto; */
  grid-template-rows: 3vh 20vh auto;
  grid-row-gap: 10px;
  column-gap: 10px;
  grid-template-areas:
    "omnibar omnibar"
    "nodes preview"
    "nodes leafs";
}
