@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body {
  margin: 2rem;
  background-color: hsl(0, 0%, 12%);
  color: hsl(0, 0%, 90%);
  font-family: Montserrat;
  font-size: 16px;
}


.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.new-player {
  aspect-ratio: 16 / 9;
  width: 100vw;
  height: 100%;
}

.bar {
  margin-top: 1rem;
  border-bottom: 5px solid rgb(85, 79, 79);
  position: relative;
}

.point {
  width: 16px;
  height: 16px;
  background-color: rgb(24, 21, 21);
  position: absolute;
  border-radius: 50%;
  left: 23%;
  top: -6px;
  cursor: pointer;
}

.video-node {
  font-weight: bold;
}

.video-node:hover {
  font-weight: bold;
  cursor: pointer;
  color: rgb(56, 85, 85);
}


.segment-node {
  list-style: none;
  margin-left: 1rem;
  font-weight: normal;
  color: black;
  display: inline-block;
}

.segment-node:hover {
  color: rgb(67, 131, 131);
}
