{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "react", "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": { "jsx": true }
  },
  "rules": {
    "@typescript-eslint/ban-ts-comment": "warn",
    "@typescript-eslint/indent": ["warn", 2],
    "@typescript-eslint/no-empty-function": "warn",
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/no-unused-vars": "off",
    "array-bracket-spacing": [1, "never"],
    "arrow-parens": ["warn", "always"],
    "func-call-spacing": [1, "never"],
    "indent": "off",
    "max-len": [1, {"code": 100,  "ignoreUrls": true }],
    "no-empty-function": "off",
    "no-multi-spaces": [1, { "exceptions": { "Property": false } }],
    "no-multiple-empty-lines": ["warn", { "max": 2, "maxEOF": 0, "maxBOF": 0 }],
    "no-trailing-spaces": ["warn"],
    "no-unused-vars": "off",
    "no-var": "warn",
    "object-curly-spacing": [1, "always"],
    "prefer-const": "warn",
    "quotes": [ 1, "single" ],
    "react/display-name": "off",
    "react/jsx-closing-tag-location": "warn",
    "react/no-children-prop": "warn",
    "semi": ["error", "never", { "beforeStatementContinuationChars": "never"}],
    "space-before-blocks": [1, "always"],
  }
}